<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886415945511-l26pf97bm7n6l9e5timgb5qbf52moc94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886415945511-l26pf97bm7n6l9e5timgb5qbf52moc94</string>
	<key>API_KEY</key>
	<string>AIzaSyCx1SPY5aADdesCO2mteUQZZLJT2-eiS-A</string>
	<key>GCM_SENDER_ID</key>
	<string>886415945511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartbin</string>
	<key>PROJECT_ID</key>
	<string>smart-bin-86227</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bin-86227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886415945511:ios:acfe4b943194b612de0302</string>
</dict>
</plist>